<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472039404509-d7q2kh0j1shmag5gpj2qlthrvj1ial4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472039404509-d7q2kh0j1shmag5gpj2qlthrvj1ial4d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472039404509-eb7sn99g4gj55fdjcbnot1knl2bq276c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnQJ9VYDON_6fgvMNhULt3uS-om9oK2PM</string>
	<key>GCM_SENDER_ID</key>
	<string>472039404509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mickhel.linkedUp</string>
	<key>PROJECT_ID</key>
	<string>linkedup-4fc62</string>
	<key>STORAGE_BUCKET</key>
	<string>linkedup-4fc62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472039404509:ios:834c678d1a8fa5e4e67c34</string>
</dict>
</plist>